@mixin h1-estilos {
    font-family: "handlee";
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 2.0025rem;
    padding: 1.875rem;
    margin-top: 1.875rem;
    text-align: center;
}

@mixin p-estilos{font-weight: bold;
font-size: 1.25rem;}