/*footer*/
.footer-index {
    background-color: map-get($Colores, color1);
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

div {
    margin: .625rem 0;
    flex: 1 1 12.5rem;}
        
h2 {
    font-size: 1.5625rem;
    margin-bottom: .625rem;
    color:map-get($Colores, color2 );}

p{
    font-size:1.25rem;
    font-family: "handlee";
    margin-left: 1.5625rem;
    font-weight: bold;
    text-align: center;}

ul li {
    font-size: 1.25rem;
    padding: .625rem;
        list-style: none;}

a{text-decoration: none;}
        
.contacto{
    text-align: left;
    margin-left: 3.125rem;}

.parrafo{font-weight: bold;}}