.main-index {
    padding: 3.125rem;
    
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

article {
    background-color:  #f9f9f9;;
    border: .125rem solid blueviolet;
    border-radius: .625rem;
    padding: 1.25rem;
    margin: .625rem 0;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);}
    
p{
    font-size: .9375rem;
    font-weight: bold;}

p:hover {transform: scale(0.9);}

.holistica {
    text-align: center;
    padding: 3.125rem;
    border: 3.125rem;}

.holistica:hover {transform: scale(1.2);}

.holistica h2{
    padding: 1.25rem;
    font-family: "Noto serif";
    font-size: 1.875rem;}
    
ul li {
    list-style: none;
    font-size: 1.25rem;
    color: map-get($Colores, color5 );
    font-family: "handlee";
    font-weight: bold;}

.info2{
    font-size: 1.875rem;
    font-family: "handlee";}

.info2:hover{
    transform: scale(1.2);
    filter: drop-shadow(.3125rem .125rem .625rem green);}

img:hover {transform: scale(1.2);}

.info2 h3{
    padding-top:1.25rem;}

.grupo2 {
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem auto; 
    padding: .625rem;}

div {
    flex: 1 1 calc(33% - 1.25rem);
    text-align: center;
    margin: 1.25rem; }

.grupo2 img {width: 12.5rem;}

.grupo2 p {font-size: 1.25rem;}

.grupo2 p:hover {
    transform: scale(1.1);
    filter: drop-shadow(.3125rem .125rem .625rem #FA2946);}

.button {padding:1.25rem;}

.button a{
    --glow-color:#6C464F;
    --glow-spread-color: green;
    --enhanced-glow-color: #9192FF;
    --btn-color: #7CFAB0;
    border: .25em solid var(--glow-color);
    padding: 1rem 3rem;
    color: var(--glow-color);
    font-size: .9375rem;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    text-decoration: none;}

.button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);}

.button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    transform: scale(0.9);}

.button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);} 
    }